<div id="app" class="container" style="width:40%">
    <h3 class="mb-3 text-center">換匯功能</h3>
    <div class="form-floating mb-3">
        <input class="form-control" placeholder="" v-model="rate">
        <label class="form-label">匯率</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" placeholder="" v-model="usd">
        <label class="form-label">美金</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" placeholder="" v-model="twd">
        <label class="form-label">台幣</label>
    </div>
</div>
@section Scripts

{
    <script src="https://unpkg.com/vue@3.5.31/dist/vue.global.js"></script>

    <script>

         var baseAddress="https://localhost:7080";       // Developer
        //var baseAddress="https://xxx";                // Staging
        //var baseAddress="https://yyy";                // Production
        //var baseAddress="https://zzz";                // Cloud

        var appVue = {
            data() {                // model
                return {
                    rate: 30,
                    usd: 100,
                    twd: 0
                };
            },
            methods: {             // controller

            },
            watch: {
                rate(newVal, oriVal) {
                    this.twd = newVal * this.usd;
                },
                usd(newVal, oriVal) {
                    this.twd = (newVal * this.rate).toFixed(2);
                }
            },
            mounted:async function(){
            try{
                var response=await fetch(`${baseAddress}/Home/GetExchangeRate`,{
                method:"GET"
                });
                if (response.ok) {
                    var rate=await response.json();
				    this.rate=rate;
                }
            }catch(err){
                alert(err.message);
            }
            }
        };

        var app = Vue.createApp(appVue).mount("#app");

    </script>
}